<div class="container">
  <div class="row">
    <div class="col-md-6">
      <app-budget-overview [budget]="getCurrentBudget() | async" [expenses]="getTotalExpenses() | async"></app-budget-overview>
    </div>
    <div class="col-md-6">
      <app-category-split [data]="getExpenseCategorised()| async"></app-category-split>
    </div>
  </div>

  <div class="container">
    <button
      type="button"
      class="btn btn-primary"
      [routerLink]="['/expense', 'create']">
      Add expense
    </button>
  </div>
  <div class="container">
    <app-expenses [expenseItems]="getAllExpenses() | async"></app-expenses>
  </div>
</div>
