<div class="card">
  <div class="card-body">
    <h5 class="card-title">Category wise split</h5>
    <hr />
    <div class="row" *ngIf="isDataPresent">
      <div class="col-6">
        <div class="chart">
          <canvas
            baseChart
            [data]="categorySplitChartData"
            [options]="categorySplitChartOptions"
            [chartType]="categorySplitChartType"
            [colors]="categorySplitChartColors"
            [legend]="categorySplitChartLegend"
            [labels]="labels"
          ></canvas>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="!isDataPresent">
      <div class="col-6">
          <span style="text-align: center;margin: 0 auto;" >No Data to Display...</span> 
      </div>
      
    </div>
  </div>
</div>
