<div class="card">
  <div class="card-body">
    <h5 class="card-title">Budget Overview</h5>
    <hr />
    <div class="row">
      <div class="col-6">
        <div class="chart">
          <canvas
            baseChart
            [data]="budgetChartData"
            [options]="budgetChartOptions"
            [chartType]="budgetChartType"
            [colors]="budgetChartColors"
            [legend]="budgetChartLegend"
            [labels]="lables"
          ></canvas>
        </div>
      </div>
      <div class="col-6">
        <h6>Total budget</h6>
        <p>{{budget}}</p>
        <h6>Total Expense</h6>
        <p>{{expenses}}</p>
      </div>
    </div>
  </div>
</div>
