<div class="card">
  <div class="card-body">
    <form>
        <label for="targetBudgetInput"> Target Budget </label>
        <div class="col-sm-12">
        <input type="text" class="form-control mb-2 mr-sm-2" id="targetBudgetInput" placeholder="10,000" name="newBudget" [(ngModel)]="budget" >
          <div id="button-container">
            <button type="button" class="btn btn-primary" (click)="onUpdateBudget($event)">Update budget</button>
          </div>
      </div>
    </form>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <form>
        <label for="categoryInput"> Categories </label>
          <div class="col-sm-12">
          <input type="text" [(ngModel)]="newCategoryName" class="form-control mb-2 mr-sm-2" id="categoryInput" name="newCat" placeholder="Cat 1">
          <div id="button-container">
              <button type="button" class="btn btn-primary btn-block" (click)="onAddExpenseCategory($event)">Add category</button>
            </div>
          </div>
      </form>
  </div>
</div>

<div class="card mb-3">
    <div class="card-body">
      <div class="card-title"> Categories List </div>
        <div class="row" *ngFor="let expenseCat of getExpenseCategories() | async">
            <div class="btn-group ml-sm-3 mb-2">
              <button type="button" class="btn btn-success btn-block"> <span [ngClass]="!expenseCat.isDeleted ? 'null' : 'strikethrough'">{{expenseCat.name}}</span> </button>
              <button *ngIf="!expenseCat.isDeleted" type="button" class="btn btn-success" (click)="onRemoveExpenseCategory(expenseCat.id)"> - </button>
              <button *ngIf="expenseCat.isDeleted"type="button" class="btn btn-success" (click)="onRemoveExpenseCategory(expenseCat.id)"> + </button>
            </div>
        </div>
    </div>
  </div>

