@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

body {
  height: 100vh;
}

.content {
  display: grid;
  grid-template-columns: 170px auto;
  height: 100%;
}

.strikethrough {
  text-decoration: line-through;
}
