<div class="container">
  <div class="row">
    <div class="col-md-6">
      <app-budget-overview></app-budget-overview>
    </div>
    <div class="col-md-6">
      <app-category-split></app-category-split>
    </div>
  </div>

  <div class="container">
    <button
      type="button"
      class="btn btn-primary"
      [routerLink]="['/expense', 0]">
      Add expense
    </button>
  </div>
  <div class="container">
    <app-expenses [expenseItems]="expenseList"></app-expenses>
  </div>
</div>
